body {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent  50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

ul.vertical-nav {
    list-style-type: none;
    margin: 0;
    margin-top: 33.3%;
    margin-bottom: 33.3%;
    padding: 0;
	position: static;
	top: 50%;
	transform: translateY(-50%);
    font-size: 3vh;
}

a.vertical-nav {
    display: block;
    background: #C0C0C0;
    width: 100%;
    height: 5vh;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
	z-index: 3;
	font-family: "Verdana";
	font-weight: bold;
    vertical-align: middle;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-style: solid;
    border-color: black;
}

a.vertical-nav:hover {
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
}

a.vertical-nav-a {
    display: block;
    background: linear-gradient(to left, #0CE8AA, #0DFF76);
    width: 100%;
    height: 5vh;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
	outline-style: solid;
	outline-width: 2px;
	outline-color: black;
	z-index: 3;
	font-family: "Verdana";
	font-weight: bold;
    vertical-align: middle;
}

#left-container {
    position: absolute;
    background-color: #269;
    background-image: linear-gradient(white 2px, transparent 2px),
        linear-gradient(90deg, white 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    width: 15vw;
    height: 100vh;
    left: -14.4vw;
    top: 0;
    padding: 0;
	z-index: 5;
	border-right-style: solid;
	border-width: 2px;
    visibility: visible;
    transition: left 1s;
}

#left-container:hover {
    left: 0;
}

#main-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: inline-block;
}

#collapse {
	width: 15px;
	height: 300px;
	position: absolute;
	top: 50%;
    left: .6vw;
	transform: translateY(-50%);
	z-index: 1000;
}

#banner {
	position: absolute;
	left: 50vw;
    transform: translateX(-50%);
	width: 40vw;
	height: auto;
}

#planbook {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

#pete {
    position: absolute;
    width: 14vw;
    height: 25vh;
    top: 0;
    left: inherit;
}

#petette {
    position: absolute;
    width: 14vw;
    height: 25vh;
    bottom: 0;
    left: inherit;
}

#nav-container {
    position: fixed;
    top: 33.3%;
    height: 30vh;
    width: inherit;
}

.class-overview {
    display: inline-block;
    margin-top: 15%;
    background-color: white;
    width: 15%;
    height: 40%;
}

.overview-title {
    text-align: center;
    font-weight: bold;
    font-family: "Verdana";
}

.overview-content {
    
}

#welcome {
    opacity: .9;
    font-family: "Segoe UI";
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff; 
    background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border-radius: 15px;
    border-style: solid;
    border-color: #C0C0C0;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 2%;
}

#planbook-logo {
    position: absolute;
    right: 9.5vw;
    bottom: 26vh;
    width: 5vw;
}

#district-logo {
    position: absolute;
    bottom: 50vh;
    transform: translateY(50%);
    right: 6.8vw;
    width: 10.5vw;
}

#parent-portal-logo {
    position: absolute;
    bottom: 65vh;
    right: 9.5vw;
}