body {
    background: url("images/bkg.jpg") no-repeat center center fixed;
    background-size: cover;
    /*
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent  50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    */
}

ul.vertical-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    font-size: 3vh;
}

a.vertical-nav {
    display: block;
    /*
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    */
    background: linear-gradient(to bottom, lightgray 0%,skyblue 21%,dodgerblue 49%,skyblue 80%,lightgray 100%);
    width: 15vw;
    height: 5vh;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
	z-index: 3;
	font-family: "Verdana";
	font-weight: bold;
    vertical-align: middle;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-style: solid;
    border-color: steelblue;
}

a.vertical-nav:hover {
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
}

a.vertical-nav-a {
    display: block;
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    width: 15vw;
    height: 5vh;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
	outline-style: solid;
	outline-width: 2px;
	outline-color: black;
	z-index: 3;
	font-family: "Verdana";
	font-weight: bold;
    vertical-align: middle;
}

#left-container {
    position: absolute;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    width: 15vw;
    height: 100vh;
    left: -14.4vw;
    top: 0;
    padding: 0;
	z-index: 5;
	border-right-style: solid;
	border-width: 2px;
    visibility: visible;
    transition: left 1s;
}

#left-container:hover {
    left: 0;
}

#main-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	float:left;
}

#collapse {
	width: 15px;
	height: 300px;
	position: absolute;
	top: 50%;
    left: .6vw;
	transform: translateY(-50%);
	z-index: 1000;
}

#banner {
    opacity: .9;
	position: absolute;
	left: 50vw;
    transform: translateX(-50%);
	width: 40vw;
	height: auto;
    background-color: black;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
}

#planbook {
	position: absolute;
	top: 50vh;
	right: 50vw;
    transform: translateX(50%) translateY(-50%);
	width: 85vw;
	height: 85vh;
    background: rgba(255, 255, 255, .75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

#nav-pete {
    position: absolute;
    width: 14vw;
    height: 25vh;
    top: 0;
    left: inherit;
}

#petra {
    position: absolute;
    width: 14vw;
    height: 25vh;
    bottom: 0;
    left: inherit;
}

#nav-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 20vw;
}

.class-overview {
    display: inline-block;
    margin-top: 15%;
    background-color: white;
    width: 15%;
    height: 40%;
}

.overview-title {
    text-align: center;
    font-weight: bold;
    font-family: "Verdana";
}

.overview-content {
    
}

#welcome {
    height: 50vh;
    opacity: .9;
    font-family: "Segoe UI";
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    background-color: #fff; 
    background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border-radius: 15px;
    border-style: solid;
    border-color: #C0C0C0;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 2%;
}

#planbook-logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -70%;
    width: 72px;
}

#district-logo {
    position: absolute;
    bottom: -45%;
    right: 50%;
    transform: translateX(50%);
    width: 72px;
}

#parent-portal-logo {
    position: absolute;
    width: 72px;
    bottom: -20%;
    right: 50%;
    transform: translateX(50%);
}
article{
	margin-left:1vw;
	margin-top:1vw;
	font-family: 'Franklin Gothic';
}
.contrast{
	background-color: #fff;
	opacity:0.9;
	border-radius:15px;
	border-style:solid;
	border-color:#C0C0C0;
}