html {
    max-height: 100vh;
}
body {
    /*
    background: url("images/bkg.jpg") no-repeat center center fixed;
    background-size: cover;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent  50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    */
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size:16px 16px;
}

ul.vertical-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    font-size: 3vh;
}

a.vertical-nav {
    display: block;
    /*
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    */
    background: linear-gradient(to bottom, darkslategray 0%, #282828 21%, white 49%, #282828 80%, darkslategray 100%);
    width: 14.5vw;
    height: 5vh;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
	z-index: 3;
	font-family: "Verdana";
    font-weight: bold;
    vertical-align: middle;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    z-index: 20;
}

a.vertical-nav:hover {
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    color: black;
}

a.vertical-nav-a {
    display: block;
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    width: 15vw;
    height: 5vh;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
	outline-style: solid;
	outline-width: 2px;
	outline-color: black;
	z-index: 3;
	font-family: "Segoe UI";
    vertical-align: middle;
}

#left-container {
    position: fixed;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: darkslategray;
    background-size:16px 16px;
    width: 17vw;
    height: 100vh;
    left: -15vw;
    top: 0;
    padding: 0;
	z-index: 5;
	border-right-style: solid;
	border-width: 4px;
    border-color: black;
    visibility: visible;
    transition: left 1s;
}

#left-container:hover {
    left: 0;
}

#main-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	float:left;
}

#collapse {
	width: 15px;
	height: 300px;
	position: absolute;
	top: 50%;
    left: .6vw;
	transform: translateY(-50%);
	z-index: 1000;
}

#banner {
    opacity: 1;
	position: absolute;
	left: 50vw;
    top: 2.5vh;
    transform: translateX(-50%);
	width: 40vw;
	height: auto;
    background-color: white;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
}

#planbook {
	position: absolute;
	top: 55vh;
	right: 50vw;
    transform: translateX(50%) translateY(-50%);
	width: 75vw;
	height: 75vh;
    background: rgba(255, 255, 255, .80);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#nav-pete {
    position: absolute;
    width: 14vw;
    height: 25vh;
    top: 0;
    left: inherit;
}

#petra {
    position: absolute;
    width: 14vw;
    height: 25vh;
    bottom: 0;
    left: inherit;
}

#nav-container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 15vw;
}

.class-overview {
    display: inline-block;
    margin-top: 15%;
    background-color: white;
    width: 15%;
    height: 40%;
}

.overview-title {
    text-align: center;
    font-weight: bold;
    font-family: "Verdana";
}

.overview-content {
    
}

#welcome {
    opacity: .95;
    font-family: "Segoe UI";
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    background-color: white; 
    background-image: 
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border-radius: 15px;
    border-style: solid;
    border-color: #C0C0C0;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 2%;
}

#planbook-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 33.3%;
}

#district-logo {
    position: absolute;
    height: 33.3%;
    right: 0;
}

#parent-portal-logo {
    position: absolute;
    height: 33.3%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 10px;
}
article{
	margin-left:1vw;
	margin-top:1vw;
	font-family: 'Franklin Gothic';
}
.contrast{
	background-color: #fff;
	opacity:0.9;
	border-radius:15px;
	border-style:solid;
	border-color:#C0C0C0;
    width: 40vw;
    position: absolute;
}

.text-box {
     width: 70vw;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    resize: none;
    font-family: "Segoe UI";
}

#nav-hint {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 100vh;
}

#right-container {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25vh;
}

.ribbon {
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

    width: 50%;
    
    position: relative;
    background: skyblue;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid dodgerblue;
    z-index: -1;
}

.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #804f7c transparent transparent transparent;
    bottom: -1em;
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

#separator {
    position: absolute;
    width: 2vw;
    height: 100vh;
    background: linear-gradient(to left, #282828, darkslategray);
    top: 0;
    right: 0;
    z-index: 10;
}

.title {
    color: white;
    width: 2.5vh;
    font-weight: bold;
}

#class-nav {
    list-style-type: none;
    text-align: center;
    position: absolute;
    right: 0;
    z-index: 20;
}

a.class-nav {
    display: block;
    background-color: white;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Verdana";
    width: 8vw;
    height: 5vh;
    text-align: center;
    z-index: 20;
}

ul.class-nav {
    list-style-type: none;
}

.class-div {
    z-index: 10;
    margin-top: 10%;
    width: 70vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px gray;
    background-color: white;
}

.helpful-links {
    text-decoration: none;
    color: black;
}

.class-icon {
    width: 2.5vw;
}

.directions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20vh;
    height: 5vh;
    width: 60vw;
    background-color: white;
    font-family: "Segoe UI";
    text-align: center;
    font-size: 1.3em;
}